#mainTitle{
    text-align: center;
    color: white;
}

#welArea{
    margin-top: -10px;
    margi
    background: url('../img/testImgBacke.jpg') center fixed;
    background-size: cover;
    height: 100vh;
}

#navigationMenu{
    list-style-type: none;
    margin: auto;
    display: grid;
    grid-template-areas: "men1 men2 men3 men4 men5 men6";
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
}

#navigationMenu li{
    margin: auto;
}