#mainTitle{
    text-align: center;
    color: white;
}

#welArea{
    margin: 0px;
    background: url('../img/testImgBacke.jpg') no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#navigationMenu{
    list-style-type: none;
    margin: auto;
    display: grid;
    grid-template-areas: "men1 men2 men3 men4 men5 men6";
    grid-template-columns: 18% 18% 18% 18% 18% 18%;
}